*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.container1{
    
       height: 80vh;
       width:100vw; 
       background-color: #aa3d3d;
}

.heading{
  position:relative;
  left:46%;
  font-weight: 900;
}

.form{
    margin-top: 50px;
    position:relative;
    left:38%;
    
}

#input-type{
    height:30px;
    width:300px;
    border: 2px solid black;
    border-radius: 9px;
    margin:20px;
}

#button-submit{
    width:55px;
    height:30px;
    border-radius: 10px;
    cursor: pointer;
}

.task-list{
    background-color: #1b8288;
    padding:30px;
    height:170px;
    width:370px;
    border-radius: 10px;
}